# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.An-eastern-Odyssey.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\HomeLocalUser\RiderProjects\An-eastern-Odyssey\.idea\.idea.An-eastern-Odyssey.dir\.idea/dataSources/
/dataSources.local.xml
